
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);
@font-face {
	font-family: 'OpenSansHebrew-Regular';
	src: url('../fonts/OpenSansHebrew-Regular.eot');
	src: local('☺'), url('../fonts/OpenSansHebrew-Regular.woff') format('woff'), url('../fonts/OpenSansHebrew-Regular.ttf') format('truetype'), url('../fonts/OpenSansHebrew-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansHebrew-ExtraBold';
	src: url('../fonts//OpenSansHebrew-ExtraBold.eot');
	src: local('☺'), url('../fonts//OpenSansHebrew-ExtraBold.woff') format('woff'), url('../fonts//OpenSansHebrew-ExtraBold.ttf') format('truetype'), url('../fonts//OpenSansHebrew-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: 'OpenSansHebrew-Regular', sans-serif;    
}
.bg1 {
    background: url(../img/bg.png) center no-repeat;
}

.bg2 {
    background: url(../img/bg2.png) center no-repeat;    
}
.bg3 {
    background: url(../img/bg3.png) center no-repeat;    
}

.wrapper {    
    background-size: 105% !important;
    display: flex; 
}
@media (max-width: 1800px) {
    .wrapper {
        background-size: cover !important;
    }
}

.vh100 {
    min-height: 100vh;
}
.logo {
    display: block;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto 35px;
}

.form {
    width: 400px;
    margin: auto;
    box-shadow: 3px 5px 40px rgba(0, 0, 0, 0.43);
    background-color: #ffffff;
    padding: 20px 55px 45px;
}
@media (max-width: 500px) {
    .form {
        width: 90%;
    }
}
@media (max-width: 400px) {
    .form {
        padding: 20px 35px 25px;
    }
}
.btn-custom {
    position: relative;
    background-color: #03c878;
    border-color: #03c878;
    border-radius: 0;
    span {
        font-family: 'OpenSansHebrew-ExtraBold';
        font-size: 22px;
    }
}

.go-icon, .go-circle, .unlock-icon {
    width: 27px;
    height: 24px;
    background: url(../img/go.png) no-repeat;    
    background-size: contain !important;
    position: absolute;
    left: 10px;
}
.go-circle {
    background: url(../img/go-circle.png) no-repeat;
}
.unlock-icon {
    background: url(../img/unlock-icon.png) no-repeat;
    height: 31px;
}
.link {    
    color: #f24e42;
    font-size: 14px;
    text-decoration: underline;
    &:hover {
        color: #f24e42;
        text-decoration: none;
    }
}

.title {
    color: #7d7e81;
    text-align: center;
    font-size: 22px;
    font-family: 'OpenSansHebrew-ExtraBold';
    font-weight: 400;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 0;
}